<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document Data</title>
</head>

<body>
  <h1> Pet's list </h1>
  <ul>
    <% pets.forEach(pet=> { %>
      <li>
        <%= pet.name %>
          <%= pet.age %>
            <%= pet.type %>

              <form method="GET" action="/edit/<%= pet.id %>">
                <button>Edit</button>
              </form>
              <form method="POST" action="/delete/<%= pet.id %>">
                <button>Delete</button>
              </form>
      </li>

      <% }) %>
  </ul>

</body>

</html>